body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.gallery_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: -2rem;
    width: 100vw;
}

.gallery_wrapper h1 {
    font-size: 26px;
    font-family: aroma;
    text-decoration: underline;
    text-decoration-color: orangered;

}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


.gallery_wrapper h3 {
    font-size: 20px;
    font-family: aroma;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-align: center;
    margin-top: 50px;
}

.imgcam {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 20px;
}

.main-container-Institute {}

.past-institute-container {
    width: auto;
    /* height: 100vh; */
    margin-top: 80px;
    gap: 1rem;

}

.list-container {
    position: relative;
    left: -20vw;
    display: flex;
    gap: 1rem;
    width: 40rem;
    /* width: 45vw; */
    padding: 15px;
    display: flex;
    margin: 15px;
}

.institute-winner {
    font-size: 25px;
}

.inner-container-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 45vw;
}

@media screen and (max-width:1020px) {
    .imgs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .imgcam {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .inner-container-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 45vw;
    }
}

@media screen and (max-width:650px) {
    .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .imgcam {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 20px;
        justify-content: center;
        align-items: center;
        place-content: center;
        align-content: center;
    }

    .list-container {
        position: relative;
        left: 0;
        width: 20rem;
    }

    .inner-container-list {
        width: 45vw;
    }

}


@media screen and (max-width:390px) {

    .past-institute-container {
        width: 80vw;
        /* height: 100vh; */
        margin-top: 80px;

    }

    .inner-container-list {
        width: 45vw;
    }


}